.home-container {
  justify-content: center;
  align-items: center;
  display: inline-block;
  height: 100vh;
  background-color: #3f4f44;
  color: #dcd7c9;
}

.calorie-container {
  text-align: center;
  justify-content: center;
  display: flex;
  width: 100vw;
  max-height: 300px;
  background-color: #dcd7c9;
  color: #3f4f44;
}

.body-container {
  width: 100vw;
  display: flex;
}

.graph-container {
  text-align: center;
  justify-content: center;
  width: 50%;
}

.food-list-container {
  text-align: center;
  justify-content: center;
  width: 50%;
}

.scanner-button {
  margin-top: 20px;
  text-align: center;
}
